@inherits LayoutComponentBase

<FluentLayout>

    <FluentHeader>
        Portal do Publicador

        <FluentSpacer />

        <FluentProfileMenu Status="@PresenceStatus.Available"
                           HeaderLabel="Microsoft"
                           Initials="BG"
                           FullName="Bill Gates"
                           EMail="bill.gates@microsoft.com"/>
    </FluentHeader>

    <FluentStack Orientation="Orientation.Horizontal" Width="100%" Style="height: calc(100vh - 50px);">

        <NavMenu />

        <FluentBodyContent>
            <div style="padding: 24px; width: 100%; overflow-y: auto;">
                @Body
            </div>
        </FluentBodyContent>

    </FluentStack>

</FluentLayout>